@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
	--food-card-text-color: #ffffffee;
	--card-background:whitesmoke;
	--card-properties-bg:#F2082Dcc;
	--card-properties-text-color:white;
  }
  .foodCard{margin:0 auto;position:relative;width:400px;height:350px;background:transparent;font-family:"Montserrat",sans-serif;}
  .foodCardImage{position:relative;top:20%;left:5%;width:40%;height:40%;border-radius:5px;overflow:hidden;background:#ffffff45;box-shadow:0 0 10px 2px #00000045;z-index:5;}
  .foodCardImage > img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);height:100%;width:auto;}
  .foodCardContent{position:absolute;bottom:20%;right:0;width:80%;height:40%;background:white;padding:20px;border-radius:15px;box-shadow:5px 5px 10px 2px #00000045;
	background: var(--card-background);
  }
  .foodCardFoodName,.foodCardArtistName{position:relative;left:15%;color:var(--food-card-text-color);z-index:6;padding:5px;font-size:100%;}
  .foodCardArtistName{letter-spacing:2px;}
  .foodCardFoodName > *,.food-card-artist-name > *{margin:0;text-overflow:ellipsis;white-space:nowrap;width:250px;overflow:hidden;text-shadow:1px -2px black,1px -1px black;}
  .foodCardAbout{margin:20px 10px;height:45px;overflow:hidden;width:95%;position:relative;font-size:12px;font-family:"Montserrat",sans-serif;opacity:0.56;}
  .aboutShadow{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:35px;
	background:linear-gradient( transparent, var(--card-background));z-index:2;
  }
  .foodCardFoodProperties{
	position:absolute;
	left:50%;
	bottom:-50%;
	transform:translate(-50%,-105%);
	z-index:7;
	border-radius:15px;padding:10px 15px;
	color:var(--card-properties-text-color);
	text-align:center;
	background: var(--card-properties-bg);
	width:fit-content;
	box-shadow:0 0 10px 2px #00000045;
  }
  .foodCardFoodProperties > div{border-right:1px solid var(--card-properties-text-color);width:fit-content;padding:0 10px;display:inline-block;}
  .foodCardFoodProperties > div:last-child{border-right:none;}
  .foodCardFoodProperties > div > i{font-size:16px;margin-bottom:5px;}
  .foodCardFoodProperties > div > p{font-size:10px;margin:0;}

  .detailBtn {
	position:absolute;
	left:50%;
	bottom:-25%;
	transform:translate(-50%,-105%);
	z-index:7;
	border-radius:15px;padding:10px 15px;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #ff3f40;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;
  }
  
  .flexbox{display:flex;justify-content:center;vertical-align:middle;flex-wrap:wrap;width:90%;margin:5%;}
  .flexbox > *{margin:auto 20px;}

  