/* .hero{
    position:relative;
    height: 80vh;
    background-image: linear-gradient(rgba(36,36,36,0.5),rgba(155,35,234,0.2)), url("https://fondosmil.com/fondo/35731.jpg");
    background-size: contain;
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);    
    font-family: 'Oswald'
} */

.hero{
  font-family: 'Oswald';
  text-align: center;
}
.hero{
  height: 100vh; 
  background-image: url("https://fondosmil.com/fondo/35731.jpg");
  background-size: 100vw 100vh;
  /* background-position: center center; */
  /* background-repeat: no-repeat;  */
}

.hero button{
    background:#DD4124;
    color:#FFF;
    cursor:pointer;
    border:none;
  font-family: 'Oswald';
    font-size:16px;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    border-radius: 1.5rem;
    height: 50px;
    width: 150px;
    margin:5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
     text-decoration: none;
}

.hero button:hover{
    background-color: white;
  color:#DD4124;
}